body {
  background-color: rgb(255, 255, 255);
}
.profile-picture {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 8px;
}

.name-title {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: rgb(0, 40, 104);
  text-align: center;
}

p {
  font-family: verdana;
}

  .button {
      display: inline-block;
      padding: 10px 20px;
      margin: 5px;
      font-size: 16px;
      color: white;
      background-color: #007BFF;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .button:hover {
      
      background-color: #0056b3;}



     